a.active {
	color: #2a6496;
	text-decoration: underline;
}

a.btn.active {
	color: #333;
	text-decoration: none;
}

a.selected {
	background-color: #f0ad4e;
}

.loading {
	margin-top: 15px;
	margin-bottom: 0px;
	display: none;
}

a.red-link {
	color: #d9534f;
}

a.red-link:hover {
	color: #d2322d;
}

a.label_link {
	text-decoration: none;
}

.authorization-form .panel {
    margin-bottom: 15px;
}
.authorization-form #captcha {
    cursor: pointer;
}
.authorization-form .glyphicon-refresh {
    cursor: pointer;
    font-size: 25px;
    vertical-align: middle;
}

table .input-xs {
    padding: 0;
    width: 30px;
    height: 20px;
    text-align: center;
}

.th_sort, .td_sort {
	width: 10%;
}

input[readonly], input[readonly] {
	cursor: text !important;
}

/* Bootstrap callout */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

.bs-callout label {
	font-weight: normal;
}

.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}

.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}

.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}

.bs-callout-danger h4 {
	color: #B94A48;
}

.bs-callout-warning h4 {
	color: #C09853;
}

.bs-callout-info h4 {
	color: #3A87AD;
}

a.dotted {
	border-bottom: dotted 1px;
}

a.dotted:hover, a.dotted:active, a.dotted:focus {
	text-decoration: none;
}

.recursive_checkbox {
	float: left;
	margin: 0 0 10px 10px;
	border: solid 1px #f1e7bc;
	padding: 10px;
	border-radius: 4px;
}

#main_form, .main-list {
	margin-top: 20px;
}

.main_header {
	margin-top: 0px;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.noty_buttons {
	padding: 0 10px 10px 10px;
}

.noty_buttons .btn {
	margin-right: 10px;
}

.filter-list .panel-heading {
	cursor: pointer;
}

.filter-list .filter-text {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}

.left-filter-list {
	padding: 15px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 20px;
}

.left-filter-list h3 {
	margin-top: 0;
}

.left-filter-list ul {
	border-bottom: 1px solid #ddd;
	list-style-type: none;
	padding: 0;
	margin-bottom: 15px;
}

.left-filter-list ul ul {
	border-bottom: none;
}

.left-filter-list li {
	margin-bottom: 10px;
	padding-left: 15px;
	position: relative;
}

.left-filter-list a.has-children {
	position: absolute;
	left: -3px;
}

.left-filter-list li ul {
	padding: 10px 0 0 0;
}

.nav-tabs li .info {
	cursor: help;
	border-bottom: dotted 1px;
	padding-bottom: 2px;
}

/* Файлы */
.file.edit_cont {
	padding-top: 20px;
}

.file.edit_cont .flex_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.file.edit_cont .flex_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-bottom: 20px;
    padding: 0 15px
}
.file.edit_cont .main_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 330px;
    -moz-box-flex: 0;
    -ms-flex: 0 1 330px;
    flex: 0 1 330px
}
.file.edit_cont .main_cont .pic_cont img {
    max-width: 100%;
    max-height: 100%
}
.file.edit_cont .main_cont .icons_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 7.5px
}
.file.edit_cont .main_cont .icons_cont .item_cont {
    margin-bottom: 7.5px
}
.file.edit_cont .main_cont .icons_cont .item_cont:last-child {
    margin-bottom: 0
}
.file.edit_cont .main_cont .icons_cont .file-sort .form-control {
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center
}
.file.edit_cont .main_cont .icons_cont .rotate_left .glyphicon {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    -webkit-filter: FlipH;
    filter: FlipH
}

.file .pic_cont .file_name {
	margin-bottom: 10px;
}

.file .pic_cont .glyphicon-open-file {
	font-size: 50px;
}

.multiple-form {
    margin-bottom: 20px;
}

.pagination-esup {
    margin-top: 0px;
}