html, body {
    height: 100%;
}

a.red-link {
    color: #d9534f;
}

a.red-link:hover {
    color: #d2322d;
}

a.dotted {
    border-bottom: dotted 1px;
}

a.dotted:hover, a.dotted:active, a.dotted:focus {
    text-decoration: none;
}

a.selected, .selected {
    background-color: #28a745;
    border-radius: 3px;
    color: #fff;
    padding: 0 5px;
    text-decoration: none;
}

.authorization-form .panel {
    margin-bottom: 1rem;
}

.authorization-form #captcha {
    cursor: pointer;
}

.authorization-form .octicon-sync {
    cursor: pointer;
    font-size: 2rem;
    vertical-align: middle;
}

table .form-control-sm {
    padding-top: 0;
    padding-bottom: 0;
    width: 2rem;
    text-align: center;
}

input[readonly], textarea[readonly] {
	cursor: default !important;
}

.loading {
    width: 200px;
}

#main_form, .main-list, #main_form .tab-content, #main_form .nav-tabs, .settings-sets { /*.no-records-found*/
	margin-bottom: 1rem;
}

.main_header {
    margin-top: .5rem;
	margin-bottom: 1rem;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.noty_buttons {
	padding: 0 .5rem .5rem .5rem;
}

.noty_buttons .btn {
	margin-right: .5rem;
}

.filter-list {
    margin-bottom: 1rem;
}

.filter-list .card-header {
	cursor: pointer;
}

.filter-list .filter-text {
    /*display: inline-block;*/
    vertical-align: middle;
    margin-bottom: 1rem;
    /*width: auto;*/
}

.filter-list .select2-container {
    margin-bottom: 1rem;
}

.left-filter-list {
	padding: 1rem 1rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 1rem;
}

.left-filter-list h3 {
	margin-top: 0;
}

.left-filter-list ul {
	border-bottom: 1px solid #ddd;
	list-style-type: none;
	padding: 0;
	margin-bottom: 1rem;
}

.left-filter-list ul ul {
	border-bottom: none;
}

.left-filter-list li {
	margin-bottom: .5rem;
	padding-left: 1rem;
	position: relative;
}

.left-filter-list a.has-children {
	position: absolute;
	left: -3px;
}

.left-filter-list li ul {
	padding: .5rem 0 0 0;
}

.nav-tabs li .info {
	cursor: help;
	border-bottom: dotted 1px;
	padding-bottom: 2px;
}

.file.edit_cont {
	padding-top: 1rem;
}

.file.edit_cont .flex_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.file.edit_cont .flex_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin-bottom: 1rem;
    padding: 0 15px
}

.file.edit_cont .main_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 330px;
    -moz-box-flex: 0;
    -ms-flex: 0 1 330px;
    flex: 0 1 330px
}

.file.edit_cont .main_cont .pic_cont img {
    max-width: 100%;
    max-height: 100%
}

.file.edit_cont .main_cont .icons_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 7.5px
}

.file.edit_cont .main_cont .icons_cont .item_cont {
    margin-bottom: 7.5px
}

.file.edit_cont .main_cont .icons_cont .item_cont:last-child {
    margin-bottom: 0
}

.file.edit_cont .main_cont .icons_cont .file-sort .form-control {
    padding: 0;
    width: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center
}

.file .pic_cont .file_name {
	margin-bottom: .5rem;
}

.file .pic_cont .octicon-file {
	font-size: 3rem;
}

.multiple-form {
    margin-bottom: 1rem;
}

.esup-navbar .navbar-text {
    padding-top: 0;
    padding-bottom: 0;
}

/* Select2 styles */
.select2-container--bootstrap .select2-selection--single {
    height: 38px;
    line-height: 1.5;
    padding: .375rem 30px .375rem .75rem;
    font-size: 1rem;
}

.select2-search--dropdown .select2-search__field {
    padding: .375rem .75rem;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #007bff;
    color: #fff;
}

.select2-container--bootstrap .select2-selection--multiple {
    min-height: 38px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    margin: 7px 0 0 7px;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 1rem;
}